@tailwind base;
@tailwind components;
@tailwind utilities;

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
*/
:root {
  --primary: #22282E;
  --secondary: #D19054;
  --tertiary: #9C1A43;
  --ps: 1400px;
}

.-rotate-x-90 {
  transform: rotateX(-90deg);
}

.rotate-x-66 {
  transform: rotateX(66deg);
}

.perspective-500 {
  perspective: 500px;
}
